---
layout: default
---
{% include JB/setup %}
<article class="unit-article layout-page">
    <div class="unit-inner unit-article-inner">
        <div class="content">
            <header>
                <div class="unit-head">
                    <a class="logobox" href="{{ HOME_PATH }}"><img alt="RStoolbox-logo" src="{{BASE_PATH}}/assets/img/rstbx.png"> </a>

                    <div class="unit-inner unit-head-inner">
                        <div class="h4 entry-title"> 
                            <table width="100%"><tr><td><strong>{{page.fun}}<strong> { <a href="index.html">{{ page.package }}</a>}</td><td align="right">R Documentation</td></tr></table>
                            <h3>{{page.title}}</h2>
                        </div>
                    </div>
                    <!-- unit-inner -->
                </div>
                <!-- unit-head -->
            </header>

            <div class="bd">
                <div class="entry-content">
                    {{ content }}
                </div>
                <!-- entry-content -->
            </div>
            <!-- bd -->

            <footer class="unit-foot">
                <div class="unit-inner unit-foot-inner">
                    <p class="gotop">
                        <a href="#page">Back to Top</a>
                    </p>
                </div>
            </footer>

        </div>
        <!-- content -->
    </div>
    <!-- unit-inner -->
</article>